@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;  
}

body {
  background-color: #fafafa;
  font-family: 'Trebuchet MS',  Helvetica;
}

/* Шапка сайта */

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
   font-size: 1.5em;
   line-height: 45px;
   margin-left: 40px;
   font-family: 'Suez One', serif; 
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 70%;
  }
}

@media (max-width: 800px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }


  #about {
   float: left;
   width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #fff;}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 00;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo {
  color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Главный блок на сайте */

#top {
  width: 100%;
  height: 1000px;
  background-image: url(https://i.artfile.ru/2500x1421_1549049_[www.ArtFile.ru].jpg);
  background-blend-mode: multiply;
  background-color: 2e3a44;
  background-size: cover;
  text-align: center;
  color: #777;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.2em;
    padding-top: 50%;
  }
}

#top h1 {
  padding-top: 20%;
}

# top h3 {
   color: #ccc;
}

/* Блок с возможностями */

#main {
  padding: 100px 20%;
  width: 60%;
  float: left;
  background-color: #f6f6f6;
  border-top: 2px solid silver;
  color: #484848;
  font-size: 1.3em;
}




