@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100;
  height: 100;  
}

body {
  background-color: #000;
  font-family: 'Trebuchet MS',  Helvetica;
}

header {
    width: 100;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
   font-size: 1.7em;
   line-height: 45px;
   margin-left: 40px;
   font-family: 'Suez One', serif; 
}



